body {
    margin: 0px;
    background: rgba(131, 130, 130, 0.815);
}

a{
    text-decoration: none;
}

p{
    margin: 5px;
    font-size: 4.1vw;
    color: black;
}

.div1 {
    background: rgba(131, 130, 130, 0.28);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: #fff;
    padding: 30px 0px;
}


i{
    margin: 0 auto;
}

.alerta{
    color: blue;
}

 form .row{
     display: flex;
    justify-content: center
 }

.form-label{
    margin: 20px 0 5px 10px;
    
}


#ajusteInput{
    width: 80%;
    margin: 0 auto;
}

#ajusteBtn{
    margin: 15px auto;
    width: 20vw;
}

span{
    margin: 0 auto;
}

.ajuste{
    display: inline-block;
}

.div2{
    margin: 0 auto;
}
